[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hmagph
[access "refs/for/refs/*"]
	read = group user/hmagph
	push = group user/hmagph
	label-Code-Review = -2..+2 group user/hmagph
	label-Verified = -1..+1 group user/hmagph
	rebase = group user/hmagph
	removeReviewer = group user/hmagph
	submit = group user/hmagph
[access "refs/heads/*"]
	read = group user/hmagph
	create = group user/hmagph
	push = +force group user/hmagph
	pushMerge = group user/hmagph
[access "refs/tags/*"]
	push = +force group user/hmagph
	pushTag = group user/hmagph
	pushSignedTag = group user/hmagph
